#itc_wrapper {
  position: relative;
  background-color: darkgray;
  font-family: monospace;
  margin-bottom: 10px;
  user-select: none;
}

#itc_wrapper .swipe_data {
  margin: 10px 10px 10px 5px;
  padding: 10px;
  background-color: lightgray;
  color: dimgray;
  border-radius: 5px;
  height: 122px;
  box-sizing: border-box;
  border: 2px solid;
  overflow-y: scroll;
}

#itc_wrapper .swipe_data table {
  width: 100%;
}

#itc_wrapper .swipe_data tr:nth-child(odd) > td {
  background-color: gainsboro;
}

#itc_wrapper .swipe_data .dirty > td {
  background-color: red !important;
  color: white;
}

#itc_wrapper .total_time {
  background: bisque;
  margin: 10px 5px 10px 10px;
  padding: 41px;
  border-radius: 5px;
  border: 2px solid;
  color: chocolate;
  text-align: center;
  text-shadow: none;
  font-size: 6em;
}