.is-inline-block {
  display: inline-block;
}

.is-table {
  display: table
}

.is-table-row {
  display: table-row
}

.is-table-cell {
  display: table-cell;
}

.is-vertically-centered {
  vertical-align: middle;
}

.is-vertically-top {
  vertical-align: top;
}

.is-vertically-bottom {
  vertical-align: bottom;
}

.is-full-height {
  height: 100%
}

.has-margin-auto {
  margin: 0 auto;
}