/* Override buefy's default css */
:host {
  --is-light: hsl(0, 0%, 96%);
  --is-dark: hsl(0, 0%, 21%);
}

a,
.tabs li.is-active a {
  color: var(--is-dark);
}

.has-text-primary {
  color: var(--is-dark) !important;
}

.datepicker .datepicker-table .datepicker-body .datepicker-row .datepicker-cell.is-today,
.pagination-link:focus,
.pagination-next:focus,
.pagination-previous:focus,
.select:not(.is-multiple):not(.is-loading):after,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus {
  border-color: var(--is-dark);
}

.pagination-link:active,
.pagination-next:active,
.pagination-previous:active,
.select select.is-focused,
.select select:active,
.select select:focus {
  box-shadow: none;
}

.datepicker .datepicker-table .datepicker-body .datepicker-row .datepicker-cell.is-selected {
  background-color: var(--is-dark);
}

.timepicker select {
  padding: 0px 5px 0px 5px !important;
}

.timepicker .dropdown-content {
  padding: 0px;
}

.timepicker .field {
  margin-bottom: 0px !important;
}

.timepicker footer {
  text-align: center;
}

.timepicker button {
  margin-top: 0px !important;
  margin-bottom: 10px;
}

.tabs li.is-active a {
  border-bottom-color: var(--is-dark);
}

.table,
.dropdown-content,
select {
  background-color: var(--is-light) !important;
  color: var(--is-dark) !important;
}